<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<true/>
				<key>AddHDMI_8000000</key>
				<true/>
				<key>AddPNLF_1000000</key>
				<true/>
				<key>DeleteUnused_400000</key>
				<true/>
				<key>FIX_ACST_4000000</key>
				<true/>
				<key>FIX_ADP1_800000</key>
				<true/>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_S3D_2000000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FIX_WAK_200000</key>
				<true/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>darkwake=0 npci=0x3000 nvda_drv=1</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>20</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>QPI</key>
		<integer>100</integer>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Kernel</key>
			<string>All</string>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>2560x2048</string>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<false/>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>FakeCPUID</key>
		<string>0x0306A0</string>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Change 15 Port Limit To 30 in XHCI Kext 10.12(99-series)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g32EEA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
				g32EHw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>5960XPatch 10.12 by mano</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIH7AAAAQA==
				</data>
				<key>Name</key>
				<string>IOPCIFamily</string>
				<key>Replace</key>
				<data>
				SIH7AAAAgA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>TRIM Enabler</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02032109R5DC771H</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>06/12/13</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MP61.88Z.0116.B04.1312061508</string>
		<key>Board-ID</key>
		<string>Mac-F60DEB81FF30ACF6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>11</integer>
		<key>ChassisAssetTag</key>
		<string>Pro-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>06</string>
		<key>Family</key>
		<string>Mac Pro</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>4</integer>
			<key>Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<string>3200</string>
					<key>Part</key>
					<string>Dominator Platinum</string>
					<key>Serial</key>
					<string></string>
					<key>Size</key>
					<string>8192</string>
					<key>Slot</key>
					<string>6</string>
					<key>Type</key>
					<string>DDR4</string>
					<key>Vendor</key>
					<string>Corsair</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<string>3200</string>
					<key>Part</key>
					<string>Dominator Platinum</string>
					<key>Serial</key>
					<string>CMD16GX4M2B3200C16</string>
					<key>Size</key>
					<string>8192</string>
					<key>Slot</key>
					<string>7</string>
					<key>Type</key>
					<string>DDR4</string>
					<key>Vendor</key>
					<string>Corsair</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<string>3200</string>
					<key>Part</key>
					<string>Dominator Platinum</string>
					<key>Serial</key>
					<string>CMD16GX4M2B3200C16</string>
					<key>Size</key>
					<string>8192</string>
					<key>Slot</key>
					<string>1</string>
					<key>Type</key>
					<string>DDR4</string>
					<key>Vendor</key>
					<string>Corsair</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<string>3200</string>
					<key>Part</key>
					<string>Dominator Platinum</string>
					<key>Serial</key>
					<string>CMD16GX4M2B3200C16</string>
					<key>Size</key>
					<string>8192</string>
					<key>Slot</key>
					<string>5</string>
					<key>Type</key>
					<string>DDR4</string>
					<key>Vendor</key>
					<string>Corsair</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<string>3200</string>
					<key>Part</key>
					<string>Dominator Platinum</string>
					<key>Serial</key>
					<string>CMD16GX4M2B3200C16</string>
					<key>Size</key>
					<string>8192</string>
					<key>Slot</key>
					<string>4</string>
					<key>Type</key>
					<string>DDR4</string>
					<key>Vendor</key>
					<string>Corsair</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<string>3200</string>
					<key>Part</key>
					<string>Dominator Platinum</string>
					<key>Serial</key>
					<string>CMD16GX4M2B3200C16</string>
					<key>Size</key>
					<string>8192</string>
					<key>Slot</key>
					<string>3</string>
					<key>Type</key>
					<string>DDR4</string>
					<key>Vendor</key>
					<string>Corsair</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<string>3200</string>
					<key>Part</key>
					<string>Dominator Platinum</string>
					<key>Serial</key>
					<string>CMD16GX4M2B3200C16</string>
					<key>Size</key>
					<string>8192</string>
					<key>Slot</key>
					<string>0</string>
					<key>Type</key>
					<string>DDR4</string>
					<key>Vendor</key>
					<string>Corsair</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<string>3200</string>
					<key>Part</key>
					<string>Dominator Platinum</string>
					<key>Serial</key>
					<string>CMD16GX4M2B3200C16</string>
					<key>Size</key>
					<string>8192</string>
					<key>Slot</key>
					<string>2</string>
					<key>Type</key>
					<string>DDR4</string>
					<key>Vendor</key>
					<string>Corsair</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>8</integer>
		</dict>
		<key>ProductName</key>
		<string>MacPro6,1</string>
		<key>SerialNumber</key>
		<string></string>
		<key>Trust</key>
		<false/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>
